*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(179, 191, 228);   
    
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin: 5px 10px 5px 10px;
}
.logo{
    font-size: 2rem;
    color: rgb(59, 195, 248);
}
.navbar ul{
    display: flex;
    margin-top: 10px;
    list-style-type: none;
    padding: 5px;
}
.navbar a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin:20px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 100;
}
.navbar a:hover{
    color: black;
    background: rgb(253, 253, 255);
}
.content{
    position: relative;
    display: flex;
    align-items: center ;
    justify-content: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.words{
    text-align: center;
    font-size: larger;
    padding: 75px;
    margin: 50px 0px;
    position: relative;
}